<div class="chat-box hidden" id="chat-box">
    <div class="chat-box-main-panel" id="chat-box-main-panel">
        <div class="chat-box-contacts-panel" id="chat-box-contacts-panel">

        </div>
        
        <div class="chat-box-chat-panel" id="chat-box-chat-panel">
            <div class="chat-box-header" id="chat-box-header">
            </div>
            <div class="chat-box-msg-display" id="chat-box-msg-display">

            </div>
            <div class="chat-box-txt-area" id="chat-box-txt-area">
                <input type="text" class="message-box" id="message-box">
                <button type="submit" class="chat-send-btn" id="chat-send-btn">Send</button>
            </div>
        </div>
    </div>
    <audio id="receiving-audio">
        <source src="/receiving.mp3" type="audio/mpeg">
    </audio>

    <audio id="sending-audio">
        <source src="/sending.mp3" type="audio/mpeg">
    </audio>
</div>