<div class="conflict-popup form-popup" id="conflict-popup">
    <div class="conflict-container">
        <h1>Conflict!</h1>
        <p>You have the following conflicting tasks: </p>
        <ul id="conflicting-tasks-list"></ul>
        <p>The next avaliable time slot is: </p>
        <p id="suggested-task-time-string"></p>
        <p>Choose an option:</p>
        <button class="hidden" id="use-suggested-task-time-btn">Use Suggested Time</button>
        <button id="delete-existing-tasks-btn">Delete Existing Tasks</button>
        <button id="cancel-conflict-btn">Cancel</button>
    </div>
</div>