<div class="download-form" id="download-form">
    <form action="/getCsv" class="download-container" method="POST">
      <h1>Driver Task Spread Sheet Report</h1>
            <p>Date Range: <input type="number" name="days"> 
      <button type="submit" class="download-btn">Create .csv</button>
      <button type="button" class="btn cancel" onclick="closeDownloadForm()">Cancel</button>
    </form>
</div>