<div class="download-form hidden" id="download-form">
    <form class="download-container">
      <h1>Driver Task Spread Sheet Report</h1>
      <form>
        <label for="day-range">Days</label>
        <select name="day-range" id="day-range" class="day-range">
            <option name="days" value="2" selected>2</option>
            <option name="days" value="4" >4</option>
            <option name="days" value="7">7</option>
            <option name="days" value="14">14</option>
            <option name="days" value="28">28</option>
        </select>
        <button type="button" id="create-file-btn" class="create-file-btn">Create .csv</button>
        <button type="button" class="btn cancel" id="download-close-btn">Cancel</button>
      </form>
    </form>
</div>