<div class="download-form form-popup hidden" id="download-form">
    <form class="download-container">
      <h1 id="report-header"></h1>
      <form>
        <label for="day-range">Days</label>
        <select name="day-range" id="day-range" class="day-range">
            <option name="days" value="2" selected>2</option>
            <option name="days" value="4" >4</option>
            <option name="days" value="7">7</option>
            <option name="days" value="14">14</option>
            <option name="days" value="28">28</option>
        </select>
        <button type="button" id="create-file-btn" class="create-file-btn">Download.csv</button>
        <button type="button" class="btn cancel" id="download-close-btn">Cancel</button>
        <div class="driver-report-grid-container">
          <div id="driver-report-grid" class="driver-report-grid"></div>
        </div>
        
      </form>
    </form>
</div>