<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Schedueler</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="calendar">
      <div class="driver-selection">
        <label for="drivers">Driver:</label>
        <select name="drivers" id="drivers">
            <option name="driver" value="0" >Kalista</option>
            <option name="driver" value="1" >Karisma</option>
            <option name="driver" value="2">Matthew</option>
        </select>
      </div>
      <header>
        <div class="month-picker">
          <button id="today-btn">Today</button>
          <div class="prev-week" id="prev-week">&lt</div>
          <div class="next-week" id="next-week">&gt</div>
          <div class="month" id="month"></div>    
        </div>
        <div style="flex-grow: 1;"></div>
        <button id="download-btn">View Driver Report</button>
      </header>
      <div id="day-grid" class="day-grid"></div>
    </div>
    {{>downloadForm}}
    {{>popupForm}}
    {{>conflictPopup}}
    <script src="/js/index.js"></script>
</body>
</html>