<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Schedueler</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="calendar">
            <button class="todayBtn">Today</button>
            <button onclick="openDownloadForm()"> Download CSV</button>

            <form action="/displayDriverTaskSheet">
              <label for="drivers">Driver:</label>
              <select name="drivers" class="drivers">
                  <option name="driver" value="0" >Kalista</option>
                  <option name="driver" value="1" >Karisma</option>
                  <option name="driver" value="2">Matthew</option>
              </select>
            </form>

              

          <header>
            <div class="month-picker">
           
              <div class="month" id="month"></div>
              <div class="arrows prev-week" id="prevWeek">&lt</div>
              <div class="arrows next-week" id="nextWeek">&gt</div>
            </div>
        </header>
        {{>layout}}
        <script src="/js/index.js"></script>
    </div>

    {{>downloadForm}}

    {{>popupForm}}
</body>
</html>