:root {
  --accent-color: #1e398f;
  --grid-border-color: lightgray;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0px 20px 30px 60px;
  min-height: 10vh;
  text-align: center;
}

.driver-selection {
  margin-top: 30px;
  margin-left: 60px;
}

.day-grid {
  display: grid;
  grid-template-columns: 50px repeat(7, minmax(100px, 1fr));
  grid-auto-flow: column;
  grid-template-rows: 50px repeat(24, 100px);
  grid-gap: 0em;
  margin: 10px 20px;
  padding: 0;
}

.weekdays li {
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  font-size: 20px;
  height: 4vw;
}

.weekdays {
  margin-bottom: 4em;
  display: flex;
}

.day-cell{
  border: 1px solid var(--grid-border-color);
  overflow: hidden;
}

.time-cell{
  border-right: 1px solid var(--grid-border-color);
}

.date-cell{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--grid-border-color);
}

.form-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.download-container {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px #888888;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 450px;
  height: 330px;
  padding: 10px;

}

.task-container{
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px #888888;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 400px;
  height: 500px;
  padding: 10px;
}

.task-container .submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  margin-bottom:10px;
  margin-top: 10px;
  opacity: 0.8;
}

#delete-btn {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  margin-bottom:10px;
  margin-top: 10px;
  opacity: 0.8;
}

.task-container .cancel {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  margin-bottom:10px;
  margin-top: 10px;
  opacity: 0.8;
}

.month-picker {
  display: flex;
  align-items: center;
}

.prev-week, .next-week {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 350;
  cursor: pointer;
}

.month {
  font-size: 50px;
}

.selected-cell {
  background-color: lavender;
}

.hidden {
  display: none;
}

.pickup-cell {
  background-color: lavender;
}

.dropoff-cell {
  background-color: lightskyblue;
}

.other-cell {
  background-color: lightgreen;
}

.cell-task-type {
  font-size: large;
}

.cell-task-description {
  font-size: 10px;
  padding-top: 5px;
  font-weight: 300;
  pointer-events: none;
}

.cell-task-type {
  font-size: 12px;
  font-weight: bolder;
  pointer-events: none;
}

.cell-task-location {
  font-size: 11px;
  pointer-events: none;
  font-style: italic; 
}

#description {
  display: block;
}

.form-label{
  display: block;
  font-weight: bold;
}

.driver-report-grid-container{
  overflow: scroll;
  margin-top: 10px;
  height: 200px;
}

.driver-report-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: auto;
  grid-gap: 0em;
  padding: 0;
}

.report-cell {
  border: 1px solid var(--grid-border-color);
}

.day-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 28px;
  border-radius: 50%;
}

.today {
  background-color: rgba(30, 57, 143, 0.3);
}

